<!DOCTYPE html>
<html>
  <head>
    <title>FCC: Project Anonymous Message Board (learning project)</title>
    <meta name="description" content="A FCC learning project">
    <link id="favicon" rel="icon" href="public/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <h1>
        FCC: Information Security and Quality Assurance Projects
      </h1>
      <h2>
        Anonymous Message Board
      </h2>
    </header>
    <div id="userstories">
      <h3>An API to manage a simple anonymous message board</h3>
      <ul>
        <li><a href="/rboard/general">React frontend board</a></li>
        <li><a href="/user-stories">User stories/ API-test</a></li>
        <li><a href="/readme">README.me (as HTML)</a></li>
        <li><a href="/b/general/">Testing frontend board: <i>'/b/general/'</i></a></li>
        <li><a href="https://github.com/s-projects18/s-projects18-fcc-65" target="_BLANK">Github</a></li>
      </ul>
      <br>

    </div>
  </body>
</html>
